.idea
Assets/_anim
Assets/_anim.meta
Assets/_tileset
Assets/_tileset.meta
Assets/Animations
Assets/Animations.meta
Assets/Backyard - Free
Assets/Backyard - Free.meta
Assets/Background
Assets/Background.meta
Assets/Tiny RPG Forest
Assets/Tiny RPG Forest.meta
Assets/Pixel Adventure 1
Assets/Pixel Adventure 1.meta
Library
Logs
obj
Packages
ProjectSettings
Temp
UserSettings
Assembly-CSharp.csproj
RobotBattleRoyale.sln